.kalk_form_cont_back {
	background: #276e9f url(img/fon_kalkulyator.jpg) center top no-repeat;
	margin: 0 auto;
	height: auto;
	width: auto;
}

#kalk_form_cont {
    width: 1000px;
	padding: 10px 0 20px;
    position: relative;
    color: #fff;
	margin: 0 auto;
}
#kalk_form_cont h1 {line-height: 1;}

#kalk_form {margin-bottom: 30px;}

#kalk_form_cont table {
    width: 75%;
    border: 0 !important;
	margin: 0 auto;
}

.kalk_form_table_lf {
    width: 45%;
}

#kalk_form_cont table td {
    padding: 7px 5px;
    border: 0 !important;
}

#kalk_form_cont table td.kalk_form_table_lf label {
    font-style: italic;
    font-size: 145%;
    line-height: 1.3;
}
#kalk_form_cont table td.kalk_form_table_lf label p {
    
    font-size: 84%;
    
}

#kalk_form_cont table td.kalk_form_table_lf label span {
    
    font-size: 84%;
    
}
#kalk_form_cont table td select {
    border: 1px solid #acadad;
    color: #636363;
    width: 100%;
    line-height: 24px;
    height: 36px;
	font-size: 145%;
}

#kalk_form_cont table td input {
    border: 1px solid #acadad;
    color: #636363;
    width: 99%;
    line-height: 32px;
	height: 32px;
}

#kalk_form input.formField_kalk {
    color: #636363;
	font-size: 145%;
}

#kalk_form_cont table td sup {
    vertical-align: 3px;
    font-size: 10px;
}

.formbutton_kalk_cont {text-align: center;}
.formbutton_kalk {
	/*width: 34%;*/
	height: 60px;
	border-bottom: 8px solid #ca4a10;
	color: #fff;
	font-size: 200%;
	cursor: pointer;
	background: #ffb526 linear-gradient(to bottom, #ffb526, #ff8017) no-repeat;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: 30px 2% 0;
	text-shadow: 1px 1px #59330a;
	font-weight: bold;
	letter-spacing: 0.3px;
	display: inline-block;
	padding-left: 4%;
    padding-right: 4%;
}

#kalk_form_cont table#kalk_form_results {
	display: none;
	width: 60%;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #fff;
	background: #163047;
	background: rgba(22, 48, 71, 0.5);
	margin-bottom: 15px;
	line-height: 1.1;
}
#kalk_form_cont table#kalk_form_results td {
	padding: 15px;
}
#kalk_form_cont table#kalk_form_results .kalk_form_results_sum {
	font-size: 24px;
	text-align: right;
}

.kalk_form_send_contacts_cont {display: none;}

.kalk_form_send_contacts {
	width: 60%;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
}
.kalk_form_send_contacts .formbutton {
	margin-bottom: 0;
}

#kalk_form_send_contacts-title {
	color: #04569a;
	text-transform: uppercase;
	font-size: 200%;
	font-weight: bold;
	margin: 0 0 0 0;
	text-align: center;
	line-height: 1;
}
#kalk_form_send_contacts-bot {
	font-size: 125%;
	margin: 10px 0 15px;
	text-align: center;
	
}

.kalk_form_send_contacts-title {
	padding: 30px 5% 30px;
}

@media screen and (max-width: 1030px) {
	#kalk_form_cont {width: 100%;}
	#kalk_form_cont table {width: auto;}
}

@media screen and (max-width: 768px) {
	#kalk_form_cont table#kalk_form_results {width: 96%;}
	.kalk_form_send_contacts {width: 96%;}
}

@media screen and (max-width: 480px) {
	#kalk_form_cont table td select {font-size: 120%;}
	.kalk_form_send_contacts .formbutton {font-size: 16px;}
}

@media screen and (max-width: 430px) {
	#kalk_form_cont table td select {font-size: 100%;}
}

@media screen and (max-width: 400px) {
	.formbutton {font-size: 150%;}
}

@media screen and (max-width: 360px) {
	#kalk_form_cont table td select {font-size: 80%;}
	.formbutton_kalk {font-size: 160%;}
}
